@media screen and (max-width: 1581px) {
  .header-index .menu-list {
    margin-right: 50px !important; }
    .header-index .menu-list .menu-list__item .menu-list__link {
      font-size: 1rem; } }

@media screen and (max-width: 1580px) {
  .header-index .menu-list {
    margin-right: 10px !important; }
    .header-index .menu-list .menu-list__item .menu-list__link {
      font-size: .8571428rem; } }

@media screen and (min-width: 1441px) {
  .header__right {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .service-block {
    max-width: 66.66667% !important;
    flex: 0 0 66.66667% !important;
    margin-left: 0 !important; } }

@media screen and (max-width: 1440px) {
  .header-index-bottom-list {
    padding: 20px 30px !important; }
  .header-index-slider-text {
    margin-right: 40px !important; }
  .header-index__bottom .lang-list {
    margin-right: 10px !important; }
  .header .header__left .header__logo-link {
    margin-left: 0 !important; }
  .header .header__right {
    margin-right: 0 !important; }
    .header .header__right .menu-list, .header .header__right .lang-list, .header .header__right .button_header {
      display: none !important; }
    .header .header__right .link_icon_menu {
      display: flex !important; }
  .group-companies-mob-block {
    display: block !important; }
  .company-left-block-block {
    display: none; } }

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .header .header__left {
    padding-left: 30px; }
  .header .header__right {
    padding-right: 30px; }
  .header-index .header__left {
    padding-left: 20px; }
  .header-index .header__right {
    padding-right: 20px; }
  .group-companies-mob-block #group-companies-list-open .group-companies-mob__title {
    padding-left: 20px; }
  .group-companies-mob-block #group-companies-list-open .link_icon_plus-white, .group-companies-mob-block #group-companies-list-open .link_icon_minus-white {
    padding-right: 20px; }
  .group-companies-mob__body .comapnies-view-list {
    padding-left: 20px;
    padding-right: 20px; }
  .services-mob-block #services-list-open .services-mob__title {
    padding-left: 20px; }
  .services-mob-block #services-list-open .link_icon_plus-white, .services-mob-block #services-list-open .link_icon_minus-white {
    padding-right: 20px; }
  .services-mob__body .services-mob-menu-list {
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (min-width: 1361px) and (max-width: 1440px) {
  .index-why {
    padding: 126px 0 77px; } }

@media screen and (max-width: 1360px) {
  .services-list .services-list__item.active::before {
    width: 12px !important;
    left: -18px !important; }
  .services-mob-block {
    display: block !important; }
  .companies-mob-block {
    display: block !important; }
  .gallery-mob-block {
    display: block !important; }
  #comapnies-view-button-open {
    display: none !important; }
  .index-page .header-index .header-index-inner-wrapper {
    height: calc(100% - 61px); }
    .index-page .header-index .header-index-inner-wrapper .header__left .header__logo-link {
      margin-left: 0 !important; }
    .index-page .header-index .header-index-inner-wrapper .header__right {
      margin-right: 0 !important; }
      .index-page .header-index .header-index-inner-wrapper .header__right .menu-list, .index-page .header-index .header-index-inner-wrapper .header__right .lang-list, .index-page .header-index .header-index-inner-wrapper .header__right .button_header {
        display: none !important; }
      .index-page .header-index .header-index-inner-wrapper .header__right .link_icon_menu {
        display: flex !important; }
    .index-page .header-index .header-index-inner-wrapper .header-index__top {
      padding-left: 10px !important;
      padding-right: 10px !important; }
    .index-page .header-index .header-index-inner-wrapper .header-index__center .header-index__description {
      font-size: 0.857rem;
      margin-bottom: 5px; }
    .index-page .header-index .header-index-inner-wrapper .header-index__center .header-index__title {
      font-size: 2.571rem; }
    .index-page .header-index .header-index-inner-wrapper .header-index__bottom {
      padding: 0 0 30px 0; }
      .index-page .header-index .header-index-inner-wrapper .header-index__bottom .header-index-bottom-list {
        display: none; }
      .index-page .header-index .header-index-inner-wrapper .header-index__bottom .header-index-slider-text {
        margin-right: auto !important; }
      .index-page .header-index .header-index-inner-wrapper .header-index__bottom .lang-list {
        display: none; } }

@media screen and (max-width: 991px) {
  .test-ref-nav {
    flex-direction: column; }
    .test-ref-nav .test-ref-nav__item {
      margin-right: 0 !important;
      margin-bottom: 15px; }
      .test-ref-nav .test-ref-nav__item:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 13px; }
  .testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .testimonial-item .testimonial-item__description {
      text-align: center; }
  .reference-item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .reference-item .reference-item__description {
      text-align: center; }
  .project-item-page-mission-list .project-item-page-mission-list__item:first-child {
    margin-bottom: 20px; }
  .carousel-button-2 {
    width: 40px;
    height: 40px; }
  .project-item-carousel .project-item-carousel__item .project-item-carousel__img {
    height: 200px; }
  .certificate-item .certificate-item__img-box {
    height: 150px; }
  .service .service__header {
    flex-direction: column; }
    .service .service__header .service__logo {
      margin-bottom: 20px; }
    .service .service__header .service__main-title {
      text-align: center; }
  .contacts-inner {
    flex-direction: column;
    justify-content: flex-start; }
  .contacts__main {
    margin-bottom: 40px; }
    .contacts__main .contacts__about {
      margin-bottom: 20px; }
    .contacts__main .contacts__address {
      margin-bottom: 20px; }
  .contacts__other {
    align-items: flex-start; }
    .contacts__other .contacts__connection .contacts__phone, .contacts__other .contacts__connection .contacts__email {
      text-align: left; } }

@media screen and (max-width: 575px) {
  .pholosophy-item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .pholosophy-item .pholosophy-item__img {
      margin-bottom: 5px !important; } }

@media screen and (max-width: 991px) {
  .direction-item {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .direction-item .direction-item__img-box-block {
      margin-bottom: 10px; }
      .direction-item .direction-item__img-box-block .direction-item__img-box {
        margin-right: 0 !important; }
    .direction-item .direction-item__main-info {
      align-items: center;
      margin-bottom: 20px !important; }
      .direction-item .direction-item__main-info .direction-item__name {
        margin-bottom: 5px !important; }
      .direction-item .direction-item__main-info .direction-item__position {
        margin-bottom: 5px !important; }
    .direction-item .direction-item__contacts {
      margin-left: 0 !important; }
      .direction-item .direction-item__contacts .direction-item__email {
        text-align: center !important;
        margin-bottom: 10px; }
      .direction-item .direction-item__contacts .direction-item__phone {
        text-align: center !important;
        margin-bottom: 10px; }
      .direction-item .direction-item__contacts .direction-item-social-list {
        justify-content: center !important; } }

@media screen and (max-width: 425px) {
  html {
    font-size: 12px; }
  .gen-info-project-list {
    justify-content: center; }
    .gen-info-project-list .gen-info-project-list__item {
      text-align: center;
      margin-right: 0 !important; }
  .project-info-list {
    justify-content: center; }
    .project-info-list .project-info-list__item {
      text-align: center;
      margin-right: 0 !important; } }
